@import "./variables.css";

/* ***** Passive Elements ***** */
html,
body {
  font-family: Funnel Display, sans-serif;
  font-size: var(--font-size-md);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: var(--font-size-xxl);
  margin: var(--spacing-lg);
}

h2 {
  font-size: var(--font-size-xl);
  margin: var(--spacing-lg) var(--spacing);
}

h3 {
  font-size: var(--font-size-lg);
  margin: var(--spacing);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--colour-text);
  width: min(90%, var(--constrain-sm));
}

p {
  margin: var(--spacing) auto;
  max-width: var(--constrain-md);
}

.chip {
  background-color: var(--colour-accent);
  border-radius: var(--border-radius);
  color: var(--colour-text-light);
  display: inline-block;
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-sm);
  margin-right: var(--spacing);
  padding: var(--spacing-sm) var(--spacing);

  &:last-child {
    margin-right: 0;
  }
}

/* ***** Interactive Elements ***** */
a {
  color: var(--colour-accent-alt);
  cursor: pointer;
  text-decoration: underline dotted;

  transition: color var(--transition), text-decoration var(--transition);

  &:active,
  &:focus,
  &:hover {
    color: var(--colour-accent);
    text-decoration: underline solid;
  }
}

button,
[role=button] {
  cursor: pointer;
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing);
  text-decoration: none;

  transition: background-color var(--transition), color var(--transition), text-decoration var(--transition);

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

[data-loading] {
  a,
  button {
    pointer-events: none;
  }
}

/* ***** Accessibility ***** */
.sr-only {
  position: absolute;

  border: 0;
  clip: rect(0,0,0,0);
  font-size: 0 !important;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
