@import "./variables.css";

.icon {
  display: inline-block;
  height: 35px;
  opacity: 0.6;
  width: 35px;

  transition: opacity var(--transition);

  &:active,
  &:focus,
  &:hover {
    opacity: 1.0;
  }

  &.GitHub {
    background: transparent url(../assets/icons/flaticon_23957_cc_github.svg) no-repeat center center;
    background-size: contain;
  }

  &.LinkedIn {
    background: transparent url(../assets/icons/linkedin.svg) no-repeat center center;
    background-size: contain !important;
  }
}
