/* ***** Basic Page Structure ***** */
#content {
  position: fixed;

  inset: 0;
  overflow: hidden;
  z-index: var(--z-index-base);

  .content-inner-wrapper {
    position: absolute;
    inset: 0;

    overflow: hidden auto;
    padding: var(--spacing);

    & > aside {
      margin: var(--spacing) auto;
      max-width: var(--constrain-md);

      @media only screen and (max-width: 600px) {
        margin: var(--spacing);
      }
    }
  }
}

footer {
  position: fixed;
  right: var(--spacing);
  bottom: var(--spacing);

  background-color: var(--colour-backdrop);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
  z-index: var(--z-index-overlay);

  #media {
    display: flex;
    gap: var(--spacing);
  }
}

/* ***** Containers ***** */
.showcase-container {
  position: relative;
  left: 50%;
  top: 50%;

  border-radius: var(--border-radius);
  display: inline-block;
  margin: 0 auto;
  max-height: 100%;
  overflow: visible;
  text-align: center;
  width: auto;

  transform: translate(-50%, -50%);

  transition: background-color var(--timing-transition-long) ease;
}
