/* ***** Basic Page Structure ***** */
#content {
  position: fixed;

  inset: 0;
  overflow: hidden;
  z-index: var(--z-index-base);

  .content-inner-wrapper {
    position: absolute;
    inset: 0;

    overflow: hidden auto;
    padding: var(--spacing);
  }
}

footer {
  position: fixed;
  right: var(--spacing);
  bottom: var(--spacing);
}

/* ***** Containers ***** */
.showcase-container {
  position: relative;
  left: 50%;
  top: 50%;

  max-height: 100%;
  overflow: auto;
  text-align: center;
  width: 100%;

  transform: translate(-50%, -50%);

  transition: background-color var(--timing-transition-long) ease;
}
