* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
    font-family: 'Rock Salt', cursive !important;
    font-size: 16px;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    font-family: 'Rock Salt', cursive !important;
    font-size: 24px;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    -webkit-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
}

button:active,
button:focus,
button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button:hover {
    cursor: pointer;
}
