@import "../variables.css";

[data-route="portfolio"] {
  #portfolio-items {
    margin: var(--spacing-lg) auto;
    max-width: var(--constrain-md);

    .portfolio-item {
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      & > aside {
        font-style: italic;
        padding: var(--spacing);
      }

      & > .description {
        margin: 0;
        padding: var(--spacing);
      }

      & > .link {
        position: absolute;
        right: var(--spacing);
        top: var(--spacing);

        background-image: url(../../assets/icons/material_open-new.svg);
        background-size: contain;

        display: inline-block;
        height: var(--font-size-md);
        width: var(--font-size-md);

        transition: opacity var(--transition);

        &[download] {
          background-image: url(../../assets/icons/material_download.svg);
          background-size: contain;
        }

        &:active,
        &:focus,
        &:hover {
          opacity: 0.75;
        }
      }

      & > .name {
        color: var(--colour-accent-alt);
        margin: 0;
        padding: var(--spacing);
        text-align: center;
      }

      & > .skills-wrapper {
        padding: var(--spacing-sm);

        .skill-chip {
          background-color: var(--colour-accent);
          border-radius: 1em;
          color: var(--colour-text);
          corner-shape: squircle;
          display: inline-block;
          font-style: normal;
          font-weight: thin;
          margin-right: var(--spacing-xs);
          padding: var(--spacing-xs) var(--spacing-sm);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
