@import "../variables.css";

[data-route="resume"] {
  text-align: center;

  #resume-wrapper {
    margin: var(--spacing-lg) auto;

    a {
      aspect-ratio: 8.5/11;
      background: transparent url(../../assets/resume-placeholder.svg) no-repeat center center;
      background-size: contain;
      border: 1px solid var(--colour-text);
      box-shadow: transparent 0 0 0;
      display: block;
      margin: 0 auto;
      max-width: 425px;
      width: 100%;

      transition: box-shadow var(--transition);

      &:active,
      &:focus,
      &:hover {
        box-shadow: var(--box-shadow);
      }
    }
  }
}
