#intro-text {
    top: 50%;
    left: 50%;

    display: none;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#intro-text > * {
    position: relative;
}
